body{
    background-color: #44b2c8;

}
.container{
    display: inline-block;
    width: 800px;
    margin-top: 150px;
}

.left-column{
    width: 40%;
    float: left;
    background-color: #3f52b2;
    padding: 40px;
    padding-bottom: 20px;
    color: #fff; 
    box-sizing: border-box;
    
}

a{
    color: #fff;
}

.right-column{
width: 60%;
float: left;  
padding: 60px;  
background-color:#fff;}

